.display-main {
  width: 60%;
  height: 60vh;
  background: white;
  border-radius: 0 0 1vmax 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  width: 80%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over {
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1vmax;
  background: #b60000;
}

.game-over__item {
  font-size: 2vmax;
  color: white;
}

.game-over__button {
  margin: 1vmax;
  width: 20%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 1vmax;
  cursor: pointer;
  user-select: none;
}

.cart-character {
  width: 50%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(58, 58, 58);
  border-radius: 1vmax 0 0 1vmax;
}

.cart-character__image {
  width: 50%;
  height: 25vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cart-character__image_bandit {
  background-image: url('images/bandit.png');
}

.cart-character__image_citizen {
  background-image: url('images/citizen.png');
}

.cart-character__image_assistant {
  background-image: url('images/assistant.png');
}

.cart-character__image_indian {
  background-image: url('images/indian.png');
}

.cart-character__image_spirit {
  background-image: url('images/spirit.png');
}

.cart-character__image_chief {
  background-image: url('images/chief.png');
}

.cart-character__image_rapper {
  background-image: url('images/rapper.png');
}

.cart-character__name {
  font-size: 1.5vmax;
  color: white;
}

.cart-text {
  width: 50%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d8d8d8;
  border-radius: 0 1vmax 1vmax 0;
}

.cart-text__item {
  width: 80%;
  font-size: 1.5vmax;
  height: 80%;
  overflow: hidden;
  animation: type 2s steps(60, end);
}

.day-counter {
  position: absolute;
  bottom: 6vh;
  font-size: 2vmax;
}

.day-counter_off {
  display: none;
}

@keyframes type {
  from {
    height: 0;
  }
}
