.header {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-hat {
  width: 40%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #826d44;
  border-radius: 1vmax 1vmax 0 0;
  border-bottom: solid black 1vmax;
}

.top-hat__star {
  background-image: url('./images/sheriff.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  height: 12vh;
  transition: 1s;
  cursor: pointer;
}

.top-hat__star:hover {
  transform: rotate(360deg);
}

.stats {
  width: 60%;
  height: 15vh;
  background: #826d44;
  border-radius: 1vmax 1vmax 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.stats__item {
  width: 4vw;
  height: 6vh;
  cursor: pointer;
}

.mask {
  position: absolute;
  width: 100% !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mask__tribe {
  fill: aqua;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.mask__folks {
  fill: aqua;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.mask__law {
  fill: aqua;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.mask__budget {
  fill: aqua;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

/* .stats__item-clone {
  position: absolute;
  left: 0;
  fill: aqua;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} */

/* .stats-container__image {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.stats-container__image_tribe {
  background-image: url('./images/tentT.png');
}

.stats-container__image_folks {
  background-image: url('./images/carriageT.png');
}

.stats-container__image_law {
  background-image: url('./images/sheriffT.png');
}

.stats-container__image_budget {
  background-image: url('./images/money-bagT.png');
} */
